body{
    color:#f8f4f4;
    background-color: #767676f3;
    text-align: center;
    justify-content: center;
}
.foto{
     background-image: url("imagenes/WhatsApp\ Image\ 2025-07-13\ at\ 4.52.14\ PM.png");
     background-size: contain;            /* Ajusta la imagen al tamaño del cuerpo */
  background-repeat: no-repeat;      /* No repite la imagen */
  background-position: center;       /* Centra la imagen */
   margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}
ul {
  list-style-position: outside;
  padding: 0;
  }
.btn-whatsapp{
 width: 24px;
    height: 24px;

}
.btn-whatsapp img {
  width: 30px;            /* Tamaño más pequeño */
  height: 30px;
  vertical-align:auto; /* Alineación con el texto */
  margin-right: 10px;      /* Espacio entre ícono y texto */
}
.social-links{
      font-size: 28px;
      display: flex; 
       gap: 20px;
        margin-top: 20px; 
        justify-content: center;
        color: black;
}